body {
	background-color: #9ac9d3;
	color: @text-color;
	font-family: 'Roboto Condensed', sans-serif;
}

.main {
	background-color: #f4f4f4;
	margin-top: 60px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	font-family: 'Montserrat', sans-serif;
}
nav {  
    width: 100%;
    font-size: 20px;
    position: relative;
    ul {  
    padding: 0;
    li {  
    display: inline;  
    float: left;  
}
}
}
.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
.clearfix {  
    *zoom: 1;  
} 
nav a {  
    color: #333;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    padding: 10px;
}  
nav a:hover, nav a:active { 
	color: @primary-color;
}
nav a#pull {  
    display: none;  
}
.logo {
	width: 100px;
	height: 100px;
	background: @primary-color;
	border-top: 20px solid @primary-color;
	margin-left: 50px;
            a{
			      color: @white-color;
						font-size: 19px;
						line-height: 15px;
						font-weight: 600;
						padding-left: 0;
						text-decoration: none;
						text-align: left;
						padding: 40px 0;
				&:hover{
				color: @white-color;
				text-decoration: none;
					}
				}
			}
.search {
	margin-top: 30px;
	font-size: 16px;
}

.search input {
	width: 140px;
	border: none;
	line-height: 30px;
	border-left: 3px solid @primary-color;
	background-color: #F4F4F4;
	padding-left: 5px;
	outline: @white-color;
}

hr {
	box-shadow: 0 0 20px;
	border-top: 1px solid @white-color;
}
.header{
	padding-left: 100px;
	position: relative;
	margin-top: 200px;
	p{
	font-size: 25px;
	color: #ab9b6d;
}
}
h1 {
	font-size: 60px;
	font-weight: 700;
	margin-bottom: 50px;
}
.new {
	font-size: 20px;
    text-decoration: none;
    background-color: @white-color;
    font-weight: 700;
    width: 140px;
    text-align: center;
    border: 4px solid #D21826;
    color: #D21826;
    padding-right: 10px;
     a{
    background: #D21826;
    color: @white-color;
    padding-right: 10px;
   margin-right: 10px;

    &:hover{
    	text-decoration: none;
     }
    }
}
[al-app] div {
    height: 20px;
    background-color: red;
    cursor: pointer;
}
.opened { height: 150px !important; }
.header span:hover {
	text-decoration: none;
	background: @white-color;
}
.click-video{
	    text-align: center;
    position: relative;
    top: -500px;
}
.click-video a{
font-size: 20px;
    color: @white-color;
}
.header span a:active {
	text-decoration: none;
	color: @primary-color;
}
.two-header h2 {
	font-size: 70px;
	font-weight: 800;
	color: #e2e2e2;
	float: right;
	padding-right: 100px;
}

.two-header img {
	position: relative;
	top: -40px;
	left: -150px;
}

.item {
	padding: 10px;
	margin-right: 10px;
}

.item h4 {
	text-align: center;
	font-size: 22px;
	font-weight: 600;
}

.item p {
	margin: 0 0 10px;
	text-align: center;
	color: @primary-color;
	font-weight: 700;
	font-size: 19px;
}

.owl-controls {
	margin-top: 10px;
	text-align: center;
	-webkit-tap-highlight-color: transparent;
}

.owl-prev:hover {
	background: #869791;
	color: #fff;
	text-decoration: none;
}

.owl-next:hover {
	background: #869791;
	color: #fff;
	text-decoration: none;
}

.owl-prev {
	color: #fff;
	font-size: 14px;
	margin: 5px;
	padding: 4px 7px;
	background: #d6d6d6;
	display: inline-block;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.owl-next {
	color: #fff;
	font-size: 14px;
	margin: 5px;
	padding: 4px 7px;
	background: #d6d6d6;
	display: inline-block;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.owl-theme .owl-controls .owl-nav [class*=owl-] {
	color: #fff;
	font-size: 14px;
	margin: 5px;
	padding: 4px 7px;
	background: #d6d6d6;
	display: inline-block;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.owl-dot span {
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	background: #d6d6d6;
	display: block;
	-webkit-backface-visibility: visible;
	-webkit-transition: opacity 200ms ease;
	-moz-transition: opacity 200ms ease;
	-ms-transition: opacity 200ms ease;
	-o-transition: opacity 200ms ease;
	transition: opacity 200ms ease;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

.owl-dot span:hover {
	background-color: ##847E7E;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.owl-theme .owl-dots .owl-dot {
	display: inline-block;
	zoom: 1;
}

.owl-controls {
	margin-top: 10px;
	text-align: center;
	-webkit-tap-highlight-color: transparent;
}

.video-block {
	background: url(../images/5.jpg);
	background-size: cover;
	height: 700px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            div {
	             opacity: 0.7;
	             height: 100%;
	             background-color: #cc1725;
	             position: relative;
}
}

.video-play {
	position: absolute;
	text-align: center;
	width: 100%;
	padding-top: 100px;
            h3 {
	          font-size: 40px;
	          color: @white-color;
	           p {
	color: @white-color;
	font-size: 25px;
	line-height: 35px;}
}
}
.video-play{
	a{
	color: @white-color;
	font-size: 80px;
	position: absolute;
	top: 300px;
	margin: -35px;
	&:hover {
	color: #1686E5;
}
}
}
.about:checked+.video-play a {
	position: initial;
	width: 100%;
}
.about img {
	width: 100%;
}
.about {
	border: 10px solid @white-color;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
	background-color: @white-color;
	width: 800px;
	position: relative;
	top: -150px;
	left: 15%;
	padding: 10px; 
	h3 {
	font-size: 35px;
	font-weight: 700;
	color: @text-color;
	padding-top: 50px;
	p {
	font-size: 16px;
}
}
}
.about span {
	border: 2px solid @primary-color;
	text-align: center;
	width: 140px;
	display: block;
	margin-top: 50px;
	a {
	color: @primary-color;
	font-size: 15px;
	font-weight: 600;
	text-decoration: none;
	width: 100%;
}
}

#application {
	text-align: center;
	 h4 {
	background: @primary-color;
	color: @white-color;
	font-size: 30px;
	font-weight: 600;
	padding: 10px;
	}
}
#application input {
	padding: 10px;
	margin: 10px;
	width: 400px;
}
#application textarea {
	padding: 10px;
	margin: 10px;
	width: 400px;
}
.applicationbutton {
	background: @white-color;
	border: none;
	width: 100px;
	height: 30px;
	margin-bottom: 20px;
	color: @primary-color;
	font-size: 20px;
	border: 1px solid @primary-color;
}

.applicationbutton:hover {
	background: #F4F4F4;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#footer {
	left: 0;
	bottom: 0;
	padding: 10px;
	background: #E2E2E2;
	color: @text-color;
	width: 100%;
	font-size: 16px;
	height: 50px;
}

.content {
	display: inline-block;
	h3 {
	font-size: 25px;
	text-align: center;
	p {
	padding: 10px;
	line-height: 25px;
	font-size: 17px;
}
}
}

#scrollup {
	position: fixed; /* фиксированная позиция */
	opacity: 0.8; /* прозрачность */
	padding: 15px 10px 10px; /* отступы */
	background: #F4F4F4;
	border-radius: 5px; /* скругление углов */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	left: 10px; /* отступ слева */
	bottom: 10px; /* отступ снизу */
	display: none; /* спрятать блок */
	cursor: pointer;
	text-align: center;
	font-size: 40px;
	margin-left: 20px;
	margin-bottom: 50px;
	color: @primary-color;
}
@media screen and (max-width: 900px) {  
    nav {   
        height: auto;  
    }  
    nav ul {  
        width: 100%;  
        display: block;  
        height: auto;  
    }  
    nav li {  
        width: 50%;  
        float: left;  
        position: relative;
    }  
    nav a {  
        text-align: left;  
        width: 100%; 
    }  
}
@media only screen and (max-width : 480px) {  
    nav {  
        border-bottom: 0;  
    }  
    nav ul {  
        display: none;  
        height: auto;  
    }  
    nav a#pull {  
        display: block;  
        background-color: #f4f4f4; 
        width: 100%;  
        position: relative;  
    }  
    nav a#pull:after {  
        content:"";  
        background: url('nav-icon.png') no-repeat;  
        width: 30px;  
        height: 30px;  
        display: inline-block;  
        position: absolute;  
        rightright: 15px;  
        top: 10px;  
    }
    .logo{
    	width: 100%;
    	margin: 0 15px;
    }
}
@media only screen and (max-width : 320px) {  
    nav li {  
        display: block;  
        float: none;  
        width: 100%;  
    }  
    nav li a {  
        border-bottom: 1px solid #576979;  
    }  
}  